@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --feldgrau: #3e574fff;
    --sea-green: #5f8b61ff;
    --pistachio: #87cd82ff;
    --charcoal: #31424cff;
    --sinopia: #c64615ff;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', normal;
    transition: all .5s ease;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--pistachio);
}

header {
    width: 100%;
    height: 100px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sea-green);
}

.logo > img {
    flex-grow: .2;
    width: 80px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul, li {
    list-style-type: none;
}

nav {
    flex-grow: .6;
}

nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

nav > ul > li > a {
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 10px;
}

nav > ul > li > a:hover, 
nav > ul > li > a.clicked,
.menuhamb > ul > li > a:hover,
.menuhamb > ul > li > a.clicked {
    font-weight: 600;
    background-color: var(--feldgrau);
}

header > .buscar {
    text-align: end;
}

.buscar > input,
.buscar > button{
    outline: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 15px;
}

.buscar > input {
    border-bottom: 1px solid #000;
    color: #fff;
}

.buscar > input::placeholder {
    color: #fff;
}

header > .buscar > input {
    width: 50%;
}

.buscar > button,
.hamb {
    cursor: pointer;
}

.hamb {
    width: 30px;
    height: 25px;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.hamb > span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    top: 50%;
}

.hamb.show > span {
    position: absolute;
}

.hamb.show > span:nth-child(1) {
    transform: rotate(45deg);
}

.hamb.show > span:nth-child(2) {
    transform: rotate(-45deg);
}

.hamb.show > span:nth-child(3) {
    display: none;
}

.menuhamb {
    min-width: 300px;
    max-width: 30%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -30%;
    opacity: 0;
    padding: 100px 20px 20px;
    background-color: hsla(123, 19%, 46%, 0.95);
}

.menuhamb.show {
    opacity: 1;
    right: 0;
}

.menuhamb > ul > li{
    text-align: start;
    padding-left: 10px;
    padding-bottom: 20px;
}

.menuhamb > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    border-radius: 5px;
}

.menuhamb > ul > li.buscar > input {
    width: 80%;
}


@media (max-width: 900px) {
    nav,
    header > .buscar {
        display: none;
    }

    .hamb {
        display: flex;
    }
}